
<!DOCTYPE HTML>
<html lang="fr">
<head>

    
     
    
    
    
    
    <title>Legendarium</title>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png">
<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="color/red.css" media="all">
<link rel="stylesheet" type="text/css" media="screen" href="css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="type/museo.css" media="all">
<link rel="stylesheet" type="text/css" href="type/ptsans.css" media="all">
<link rel="stylesheet" type="text/css" href="type/charis.css" media="all">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block style %}
    
{% endblock %}

<!-- Import script -->
<script src="js/jquery-1.6.2.min.js"></script>
<script src="js/ddsmoothmenu.js"></script>
<script src="js/transify.js"></script>
<script src="js/jquery.aw-showcase.js"></script>
<script src="js/jquery.jcarousel.js"></script>
<script src="js/carousel.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.superbgimage.min.js"></script>
<script src="js/jquery.slickforms.js"></script>
<script>
jQuery(document).ready(function ($) {
    $('.forms').dcSlickForms();
});
</script>
<script>
$(document).ready(function () {
    $("#showcase").awShowcase({
        content_width: 900,
        content_height: 400,
        auto: true,
        interval: 3000,
        continuous: false,
        arrows: true,
        buttons: true,
        btn_numbers: true,
        keybord_keys: true,
        mousetrace: false,
        /* Trace x and y coordinates for the mouse */
        pauseonover: true,
        stoponclick: false,
        transition: 'fade',
        /* hslide/vslide/fade */
        transition_delay: 0,
        transition_speed: 500,
        show_caption: 'onload'
		/* onload/onhover/show */
    });
});
</script>
<!-- Fin script-->
</head>
<body>
    <div class="showcase-content"> <img src="../wow.png" alt="" width="30%"  ></div>
     
</div>
    
    
    
<div id="thumbs">  <a href="images/wow1.jpg"></a> </div>
<div id="superbgimage">
  <div class="scanlines"></div>
</div>
<div id="wrapper">
      
  <div id="header">
    <div class="logo opacity"><a href="index.html"><img src="style/images/logo.png" alt=""></a></div>
    <div class="social">
      
        <ul>
      
        
        
      </ul>
    </div>
  </div>
    
    
    
    
  <div class="clear"></div>
  <div id="menu" class="menu opacity">
<ul>
    <li><a href="index.php?page=acceuil">Accueil</a></li>
    <li><a href="index.php?page=actualite">Actualités</a>


    </li>
    <li><a href="index.php?page=catalogue">Media</a>
        
    </li>
    <li><a href="#">Liens</a>
<ul>
    <li><a href="https://worldofwarcraft.com/fr-fr/">Site officiel</a></li>
    <li><a href="https://battle.net/account/creation/tos.html?theme=wow&style=wow-trial">Téléchargement</a></li>

    -
</ul>
    </li>
    
   
    <li><a href="index.php?page=contact">Contacts</a></li>
    
     <li><a href="#">Forum</a>
<ul>
    <li><a href="index.php?page=gererq">Poser une question</a></li>
    <li><a href="index.php?page=forum">Voir les questions</a></li>

    -
</ul>
    </li>
    
    <li><a href="#">Mon compte</a>
        <ul>
            {%if session.role == 2 %}
            <li>
            <a href="index.php?page=panel">Panel admin</a></li>
            {% endif %}
    {%if session.login is defined %}
 <li><a href="index.php?page=compte&pseudo={{u.pseudo}}">Gestion de compte</a></li>
 {% else %}
 <li><a href="index.php?page=inscription">Inscription</a></li>
 {% endif %}
   {%if session.login is defined %}
 <li><a href="index.php?page=deconnexion">Se déconnecter</a></li>
 {% else %}
 <li><a href="index.php?page=connexion">Se connecter</a></li>
 {% endif %}
        </ul>
         <li>{% if form.utilisateurs.photo is not empty %}
 <p class="imgcenter"><img src="images/profiles{{utilisateurs.photo}}" alt= "image profil " /></p>
 {% endif %}</li>
    
</ul>
     
      
      
    <br style="clear: left">
   
  </div>
   {% block contenue %}
  <div id="container" class="opacity">
      
      {% block inscription %}
      
    <div id="showcase" class="showcase">
      <div class="showcase-slide">
        <div class="showcase-content"> <img src="images/crop3.jpg" alt="" width="100%"  ></div>
      </div>
      <div class="showcase-slide">
        <div class="showcase-content"> <img src="images/crop3.jpg" alt="" width="100%" > </div>
        <div class="showcase-caption">  </div>
      </div>
      <div class="showcase-slide">
      
          <div class="showcase-content"> <img src="images/crop3.jpg" alt="" width="100%"></div>
    <div class="showcase-caption"> </div>
      
      </div>
    
        <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/crop3.jpg" alt=""  width="100%"> </div>
         <div class="showcase-caption">  </div>
      </div>
    
    </div>
   
          <div class="intro"></div>
    <div class="hr2"></div>
    <h2></h2>
    <div class="two-third">
        <p>
             </a> 
        </p>
    </div>
    <div class="one-third last">
      <ul>
        <li>.</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="clear"></div>
    <br>
    <br>
    <br>
    <div class="one-fourth"> 
      <h4 class="center"> </h4>
      <p class="center"></p>
    </div>
    <div class="one-fourth"> 
      <h4 class="center"></h4>
      <p class="center"><a href="index.php?page=introduction"></a> .</p>
    </div>
    <div class="one-fourth"> 
      <h4 class="center"></h4>
      <p class="center"></p>
    </div>
    <div class="one-fourth last"> 
      <h4 class="center"></h4>
      <p class="center"></p>
    </div>
    <div class="clear"></div>
    <div class="hr1"></div>
    <h2></h2>
    <div class="carousel">
      <div id="carousel-scroll"><a href="#" id="prev">Prev</a><a href="#" id="next">Next</a></div>
      <ul>
        <li>  <span class="overlay details"></span><img src="" width="50%" alt=""> </li>
        <li>  <span class="overlay details"></span><img src="" alt=""width="50%"> </li>
        <li>  <span class="overlay details"></span><img src="" alt=""> </li>
        <li>  <span class="overlay details"></span><img src="" alt=""> </li>
        <li>  <span class="overlay details"></span><img src="" alt=""> </li>
        <li>  <span class="overlay details"></span><img src="" alt=""> </li>
        <li>  <span class="overlay details"></span><img src="" alt=""> </li>
        <li>  <span class="overlay details"></span><img src="" alt=""> </li>
      </ul>
    </div>
    
    {%endblock%} {% endblock %}
  </div>   
  

  
  {% block js %}
      
  {% endblock %}
<script src="js/scripts.js"></script>

</body>
</html>