{% extends "base.html.twig" %}

{% block inscription %}

    <div class="content">
      <h2>Contacter le site World of Warcraft </h2>
      <p>Compléter le formulaire ci dessous </p>
      <br>
      <br>
      <br>
      <div class="form-container">
        <form class="forms" action="#" method="post">
          <fieldset>
            <ol>
              <li class="form-row text-input-row">
                <label>Nom*</label>
                <input type="text" name="name" value="" class="text-input required" title="">
              </li>
              <li class="form-row text-input-row">
                <label>Pseudo*</label>
                <input type="text" name="pseudo" value="" class="text-input required" title="">
              </li>
              <li class="form-row text-input-row">
                <label>Email*</label>
                <input type="text" name="email" value="" class="text-input required email" title="">
              </li>
              <li class="form-row text-area-row">
                <label>Message*</label>
                <textarea name="message" class="text-area required"></textarea>
              </li>
              <li class="form-row hidden-row">
                <input type="hidden" name="hidden" value="">
              </li>
              <li class="button-row">
                <input type="submit" value="Envoyer" name="submit" class="btn-submit">
              </li>
            </ol>
            <input type="hidden" name="v_error" id="v-error" value="Required">
            <input type="hidden" name="v_email" id="v-email" value="Enter a valid email">
          </fieldset>
        </form>
        <div class="response"></div>
      </div>
      <br>
    </div>
    <div class="sidebar">
      <div class="sidebar-box">
      
      </div>
      <div class="sidebar-box">
       
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer">
     
    </div>
  
    {% endblock %}