{% extends "base.html.twig" %}

{% block inscription %}
 
  <div class="panel-heading">Liste des utilisateurs</div>
  <br>
 <!-- Table -->
 
 <table id="customers">
 <tr><th>Email</th><th>Nom</th><th>Prénom</th><th>Pseudo</th></tr>
 {% for u in liste %}
     
<tr><td>{{u.email}}</td><td>{{u.nom}}</td><td>{{u.prenom}}</td><td>{{u.pseudo}}</td></tr>
 {% endfor %}
 </table>
 
 <style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
 </style>

    {%endblock %}