
{% block contenu %} <center> <h1>Maintenance</h1>
        </br>
    </br>
   <center><img id="waw" alt="Bootstrap Image Preview" src="../web/images/maintenance.jpg">

    </center>
{% endblock %} 