{% extends "base.html.twig" %}

{% block contenue %}
   
     <div id="container" class="opacity">
         <h3><center><p> Ici se trouvent des images du jeux. Vous pouvez nous envoyer des screens que vous avez prit. </p></center></h3>
       <div id="showcase" class="showcase">
      <div class="showcase-slide">
        <div class="showcase-content"> <img src="images/crop.jpg" alt="" width="100%"  ></div>
      </div>
      <div class="showcase-slide">
        <div class="showcase-content"> <img src="images/wow1.jpg" alt="" width="100%" > </div>

      </div>
      <div class="showcase-slide">
     
          <div class="showcase-content"> <img src="images/crop2.jpg" alt="" width="100%"></div>

     
      </div>
   
        <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/crop3.jpg" alt=""  width="100%"> </div>
 
      </div>
           
           <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/screen1.jpg" alt=""  width="100%"> </div>
 
      </div>
           
                <div class="showcase-slide">
        <div class="showcase-content"> <img src="images/wow12.png" alt=""  width="100%"> </div>
 
      </div>
           
                <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/wow13.jpg" alt=""  width="100%"> </div>
 
      </div>
           
                <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/wow14.png" alt=""  width="100%"> </div>
 
      </div>
           
                <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/wow15.jpg" alt=""  width="100%"> </div>
 
      </div>
           
                <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/wow16.jpg" alt=""  width="100%"> </div>
 
      </div>
           
                <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/wow17.jpg" alt=""  width="100%"> </div>
 
      </div>
           
                <div class="showcase-slide">
          <div class="showcase-content"> <img src="images/wow18.jpg" alt=""  width="100%"> </div>
 
      </div>
   
    </div>
    <div class="clear"></div>
    
    
    <div id="footer">
     
     
     
     
     
      <div class="clear"></div>
   
  </div>
     
    {% endblock %}
