{% extends "base.html.twig" %}

{% block inscription %}
    
    <br>
    <center>
        
    <a href="index.php?page=gestionmembres">    <h2> - Gestion Membres <h2> </a> <br>
                
    <a href="index.php?page=gestionactualite">    <h2> - Gestion Actualités <h2> </a> <br>

         <a href="index.php?page=gestionContact">    <h2> - Gestion Contact <h2> </a> <br>    
                                                    </center>
    {%endblock %}
    
     