{% extends "base.html.twig" %}

{% block inscription %}

    <div class="content">
      <h2>Contacter Legendarium</h2>
      <p>PCe formulaire a  ...</p>
      <br>
      <br>
      <br>
      <div class="form-container">
        <form class="forms" action="#" method="post">
          <fieldset>
            <ol>
              <li class="form-row text-input-row">
                <label>Nom*</label>
                <input type="text" name="name" value="" class="text-input required" title="">
              </li>
              <li class="form-row text-input-row">
                <label>Email*</label>
                <input type="text" name="email" value="" class="text-input required email" title="">
              </li>
              <li class="form-row text-area-row">
                <label>Message*</label>
                <textarea name="message" class="text-area required"></textarea>
              </li>
              <li class="form-row hidden-row">
                <input type="hidden" name="hidden" value="">
              </li>
              <li class="button-row">
                <input type="submit" value="Submit" name="submit" class="btn-submit">
              </li>
            </ol>
            <input type="hidden" name="v_error" id="v-error" value="Required">
            <input type="hidden" name="v_email" id="v-email" value="Enter a valid email">
          </fieldset>
        </form>
        <div class="response"></div>
      </div>
      <br>
    </div>
    <div class="sidebar">
      <div class="sidebar-box">
        <h4>Addresse</h4>
        <p>20 Rue Emile Legrelle, 62000 Arras<br>
          <br>
          <span class="lite1">Tel:</span> 03.21.51.66.98<br>
          <span class="lite1">E-mail:</span> name@domain.com</p><br>
        <h4>Horaires </h4><br>
        Lundi : Ferme <br><br>
        Mardi : 10:00 - 12:30 | 14:00 - 19:00 <br><br>
        Mercredi : 10:00 - 12:30 | 14:00 - 19:00 <br><br>
        Jeudi  : 10:00 - 12:30 | 14:00 - 19:00 <br><br>
        Vendredi : 10:00 - 12:30 | 14:00 - 19:00 <br><br>
        Samedi : 10:00 - 12:30 | 14:00 - 19:00 <br><br>
        Dimanche Ferme <br><br>
        
      </div>
      <div class="sidebar-box">
        <h4>Ou ?</h4>
        <iframe width="265" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.135600391559!2d2.7758566513694523!3d50.28939660673659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd49852cbbc2c1%3A0xeb68fbd17ae61116!2sL%C3%A9gendarium+librairie+sp%C3%A9cialis%C3%A9e+arras!5e0!3m2!1sfr!2sfr!4v1555677230100!5m2!1sfr!2sfr"></iframe>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer">
     
    </div>
  
    {% endblock %}