{% extends "base.html.twig" %}

{% block inscription %}
    
    <br>
    <center>
        
    <a href="index.php?page=gestionmembres">    <h2> - Gestion membres <h2> </a> <br>
                
    <a href="index.php?page=gestionactualite">    <h2> - Gestion Actualité <h2> </a> <br>
    <a href="">    <h2> - Gestion Soirée <h2> </a> <br>
    <a href="index.php?page=gestioncatalogue">    <h2> - Gestion Catalogue<h2> </a> <br>
          
                                                    </center>
    {%endblock %}
    
     